*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* background-color: #24242a; */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

@media screen and (min-width: 50em) {
    html {
        font-size: calc(16px + (19 - 16) * (100vw - 400px) / (1200 - 400));
    }
}

body {
    width: 100vw;
    margin-right: var(--scrollbar-width);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

::-moz-selection {
    background: var(--color-select);
}

::selection {
    background: var(--color-select);
}

