.contact {
    padding: 50px 100px;
    background: #f8f4e5;
    border-top: 10px solid #f45702;
}

.contact h3 {
    margin: 0 0 0.5em 0;
    font-size: 10pt;
    line-height: 24pt;
    font-weight: normal;
    font-style: italic;
}

.contact p:nth-child(2) span{
    text-decoration: underline wavy #f45702 2px;
}
.contact p:nth-child(4) span{
    text-decoration: underline wavy #6bd4b1 2px;
}

.contact em {
    color: #f45702;
    font-weight: bold;
}

