::-webkit-scrollbar {
    width: 0;
}

.scrollbar-track {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--scrollbar-width);
    height: 100%;
    background: rgb(36, 38, 58);
    z-index: 9999;
}

.scrollbar-thumb {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--scrollbar-width);
    height: 0%;
    background: rgb(82, 200, 232);
    background: linear-gradient(300deg, rgba(82, 200, 232, 1) 00%, rgba(91, 239, 17, 1) 33%, rgba(241, 122, 34, 1) 66%, rgba(250, 20, 151, 1) 100%);
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    z-index: 10000;
}

.scrollbar-thumb::after,
.scrollbar-thumb::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(82, 200, 232);
    background: linear-gradient(300deg, rgba(82, 200, 232, 1) 00%, rgba(91, 239, 17, 1) 33%, rgba(241, 122, 34, 1) 66%, rgba(250, 20, 151, 1) 100%);
    filter: blur(6px);

    width: inherit;
    height: inherit;
}
