@import "base.css";
@import "nav.css";
@import "pages.css";
@import "gallery.css";
@import "contact.css";
@import "fancy-scrollbar.css";

:root {
    --nav-height: 85px;
    --about-pages-count: 4;
    --color-blue: #52c8e8;
    --color-orange: #f17a22;
    --color-green: #5bef11;
    --color-magenta: #fa1497;
    --color-select: #ffc7b8;
    --scrollbar-width: 11px;
    --banner_video_blur: 4px;
}

header {
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* justify-content: space-evenly; */
    padding-top: 7.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--scrollbar-width);
    row-gap: 3rem;
}
header h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 3px 5px 0 rgba(0, 0, 0, 0.3);
    border-bottom: 4px dashed var(--color-orange);
}
header h1 span {
    font-family: "Great Vibes", sans-serif;
}
.title__fix {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.title__fix h1:last-child {
    margin-left: 4px;
}
@media screen and (max-width: 700px) {
    header h1 {
        font-size: 2.2rem;
    }
}

header p {
    /* margin: 3rem; */
    padding: 0.5rem 1rem;
    border: 6px dotted var(--color-select);
    border-radius: 20px;
    text-align: justify;
    font-size: 1rem;
    line-height: 2rem;
    line-height: calc(1.5em + 0.2vw);
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.39);
    max-width: 80%;
    word-spacing: 2px;
}

footer {
    display: flex;
    min-height: 100vh;
    padding: 3rem 0;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

header div.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: -1;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    header div.backdrop {
        -webkit-backdrop-filter: blur(var(--banner_video_blur));
        backdrop-filter: blur(var(--banner_video_blur));
    }
}
header video {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: -100;
    box-shadow: none;
    outline: none;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
}
@media (min-aspect-ratio: 16/9) {
    header video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    header video {
        width: auto;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}
@media (max-width: 700px) {
    header {
        background-image: url("assets/tousreunis.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
@media (max-width: 700px) {
    header video {
        display: none;
    }
}
/* @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    header video {
        top: calc(-2 * var(--banner_video_blur));
        left: calc(-2 * var(--banner_video_blur));
        width: calc(100% + 4 * var(--banner_video_blur));
        height: calc(100% + 4 * var(--banner_video_blur));
        -webkit-filter: blur(var(--banner_video_blur));
        filter: blur(var(--banner_video_blur));
        -o-object-fit: cover;
        object-fit: cover;
    }
} */
