@import url("base.css");
@import url("nav.css");

@import url("pages.css");
@import url("gallery.css");

@import url("contact.css");
@import url("fancy-scrollbar.css");

:root {
    --nav-height: 85px;
    --about-pages-count: 4;

    --color-blue: #52c8e8;
    --color-orange: #f17a22;
    --color-green: #5bef11;
    --color-magenta: #fa1497;
    --color-select: #ffc7b8;

    --scrollbar-width: 11px;

    --banner_video_blur: 4px;
}

header {
    display: flex;
    height: 90vh;
    min-height: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    height: 100vh;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100%;
    @media (max-width: 700px) {
        background-image: url("assets/tousreunis.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }

    h1 {
        display: inline-block;
        width: 75%;
        font-size: 3.5rem;
        line-height: 4.2rem;
        color: #fff;
        text-shadow: 3px 3px 0 rgb(65, 65, 65);
        text-shadow: 0.07em 0 3px rgb(206, 168, 0), 0 0.07em 3px rgb(206, 168, 0), -0.07em 0 3px rgb(206, 168, 0), 0 -0.07em 3px rgb(206, 168, 0);
        margin-top: 230px;
        font-weight: 600;
        span {
            display: inline-block;
            padding: 0 10px;
            border-radius: 5px;
            line-height: 3.5rem;
            background-color: rgba(255, 173, 79, 0.699);
            font-weight: 600;
        }
    }

    button {
        padding: 10px 15px;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        background-color: blueviolet;
        outline: none;
        margin-top: 20px;
        font-weight: 700;
    }

    p {
        padding: 50px;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
    }

    div.backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            backdrop-filter: blur(var(--banner_video_blur));
        }
    }

    video {
        display: block;
        position: absolute;
        position: absolute;
        top: -15px;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 100%;
        z-index: -100;
        box-shadow: none;
        outline: none;
        object-fit: cover;
        object-position: center;
        overflow: hidden;

        @media (min-aspect-ratio: 16/9) {
            width: 100%;
            height: auto;
        }
        @media (max-aspect-ratio: 16/9) {
            width: auto;
            height: 100%;
        }
        @media (max-width: 700px) {
            display: none;
        }

        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            top: calc(-2 * var(--banner_video_blur));
            left: calc(-2 * var(--banner_video_blur));
            width: calc(100% + 4 * var(--banner_video_blur));
            height: calc(100% + 4 * var(--banner_video_blur));
            // firefox, ...
            filter: blur(var(--banner_video_blur));
            object-fit: cover;
        }
    }
}
