.youbyoubi {
  position: fixed;
  right: 1vh;
  bottom: 1.25vh;
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  font-family: "The Serif Hand Extrablack", cursive;
  font-size: calc(1.2em + 1.2vmax);
  color: rgb(255, 236, 130);
  background: #ff8a10;
  background: linear-gradient(120deg, rgb(180, 120, 20) -15%, rgb(255, 236, 130), rgb(180, 120, 20) 75%);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
  letter-spacing: 1.5px;
  /*cursor: none;
  pointer-events: none;*/
  -webkit-animation: slide-foot 7s ease infinite forwards, text-flicker 3s linear infinite;
  animation: slide-foot 7s ease infinite forwards, text-flicker 3s linear infinite;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

@-webkit-keyframes text-flicker {
  0% {
    text-shadow: 0 0 19px #ff8a10;
    opacity: 0.1;
  }

  2%,
  9%,
  20%,
  30% {
    opacity: 1;
  }
  8%,
  12% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77%,
  100% {
    opacity: 0.9;
  }
}

@keyframes text-flicker {
  0% {
    text-shadow: 0 0 19px #ff8a10;
    opacity: 0.1;
  }

  2%,
  9%,
  20%,
  30% {
    opacity: 1;
  }
  8%,
  12% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77%,
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes slide-foot {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 600px;
  }
}

@keyframes slide-foot {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 600px;
  }
}
