@import url("youbyoubi.css");
@import url("hijrimodal.css");

@font-face {
  font-family: "The Serif Hand Extrablack";
  font-style: normal;
  font-weight: normal;
  src: local("The Serif Hand Extrablack"), url("fonts/TheSerifHandXtraBlk.woff") format("woff");
}

@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: normal;
  /*src: local("El Messiri"), url("fonts/ElMessiri-SemiBold.eot");
  src: local("El Messiri"), url("fonts/ElMessiri-SemiBold.woff") format("woff");
  src: local("El Messiri"), url("fonts/ElMessiri-SemiBold.svg#filename") format("svg");*/
  src: local("El Messiri"), url("fonts/ElMessiri-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    farthest-corner at top right,
    rgb(60, 50, 120),
    rgb(90, 70, 120),
    rgb(210, 140, 150)
  );
  overflow: hidden;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.vignette,
.vignette-radial,
.vignette-radial:after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vignette {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}
.vignette-radial:after {
  position: absolute;
  background: radial-gradient(circle, transparent 50%, black 150%);
  content: "";
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(5vmax + 5rem);
  height: calc(5vmax + 5rem);
  border-radius: 50%;
  background: radial-gradient(
    ellipse at 40% 25%,
    rgba(0, 0, 0, 0) 45%,
    rgb(255, 185, 72) 46%,
    rgb(190, 130, 20) 57%
  );
  background-size: 120% 100%;
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  -webkit-filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.6));
}

.text-fr,
.text-ar {
  display: flex;
  position: absolute;
  top: 80%;
  left: 75%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  font-family: "The Serif Hand Extrablack";
  font-size: calc(2rem + 4vmax);
  font-size: calc(1.5rem + 4.5vmax);
  transform: translate3d(-50%, -50%, 0);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: none;
  pointer-events: none;
}
.text-fr > p.fr-1,
.text-fr > p.fr-2,
.text-ar > p.ar-1,
.text-ar > p.ar-2 {
  -webkit-text-fill-color: transparent;
  color: rgb(255, 236, 130);
  background: rgb(255, 236, 130);
  background: linear-gradient(120deg, rgb(180, 120, 20) -5%, rgb(255, 236, 130), rgb(180, 120, 20) 75%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
}
.text-fr > p.fr-1-s,
.text-fr > p.fr-2-s {
  position: absolute;
  color: transparent;
  background: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  z-index: -1;
}
.text-fr > p.fr-1-s,
.text-ar > p.ar-1-s {
  top: 0;
}
.text-fr > p.fr-2-s,
.text-ar > p.ar-2-s {
  bottom: 0;
}

.text-ar > p.ar-1-s,
.text-ar > p.ar-2-s {
  position: absolute;
  color: transparent;
  background: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  z-index: -1;
}

.text-ar {
  top: 20%;
  left: 25%;
  font-family: "El Messiri";
}

@media screen and (min-width: 800px) {
  .text-fr {
    top: 50%;
    left: 50%;
    transform: translate3d(75%, -50%, 0);
  }
  .text-ar {
    top: 50%;
    left: 50%;
    transform: translate3d(-200%, -50%, 0);
  }
}
