@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  padding: 0;
  margin: 0;
  background: #004055 url("./stars.png");
  background-size: contain;
  -webkit-animation: bganimation 20s linear infinite;
          animation: bganimation 20s linear infinite;
}
@-webkit-keyframes bganimation {
  0% { background-position: 0 100%;}
  100% { background-position: 100% 0; }
}
@keyframes bganimation {
  0% { background-position: 0 100%;}
  100% { background-position: 100% 0; }
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 7vw;
  font-family: "Pacifico", cursive;
  -webkit-animation: textglow 5s infinite ease-in-out;
          animation: textglow 5s infinite ease-in-out;
  position: absolute;
  top: 7%;
  left: 45%;
  z-index: 2;
}
@-webkit-keyframes textglow {
    0% { text-shadow: whitesmoke 0px 0 3px; }
    50% { text-shadow: whitesmoke 0px 0 25px; }
    100% { text-shadow: whitesmoke 0px 0 3px; }
}
@keyframes textglow {
    0% { text-shadow: whitesmoke 0px 0 3px; }
    50% { text-shadow: whitesmoke 0px 0 25px; }
    100% { text-shadow: whitesmoke 0px 0 3px; }
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moon {
  position: relative;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  transform-style: preserve-3d;
  -webkit-animation: foolishin 1s ease-in, pulsate-bck 1.5s ease-in-out 0.4s infinite;
          animation: foolishin 1s ease-in, pulsate-bck 1.5s ease-in-out 0.4s infinite;
}

@-webkit-keyframes foolishin {
  0% {
    transform: scale(0, 0) rotate(180deg);
  }

  40%, 80% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1, 1) rotate(0deg);
  }
}

@keyframes foolishin {
  0% {
    transform: scale(0, 0) rotate(180deg);
  }

  40%, 80% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(1, 1) rotate(0deg);
  }
}
.moon::before {
  /*circle to hide*/
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  background: #004055;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.moon::after {
  /*shadow*/
  content: "";
  position: absolute;
  top: 5px;
  left: -330px;
  height: 100%;
  width: 400px;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform-origin: right;
  transform: rotate(-45deg) translateZ(-1em);
  z-index: -2;
}

.cloud {
  position: absolute;
  width: 300px;
  height: 90px;
  background: #fff;
  border-radius: 50px;
  top: -80px;
  left: -340px;
  transform-style: preserve-3d;
  -webkit-animation: pulsate-bck 1.5s ease-in-out 0.6s infinite;
          animation: pulsate-bck 1.5s ease-in-out 0.6s infinite;
}

.cloud span {
  position: absolute;
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  top: -25px;
  left: 10px;
}
.cloud span:nth-child(1) {
  top: -50px;
  left: 30px;
}
.cloud span:nth-child(2) {
  top: -30px;
  left: 140px;
}
.cloud span:nth-child(3) {
  top: -80px;
  left: 80px;
}
.cloud::after {
  content: "";
  position: absolute;
  width: 560px;
  height: 220px;
  top: -110px;
  left: -360px;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform-origin: right;
  transform: rotate(-45deg) translateZ(-1em);
  z-index: -2;
}
@-webkit-keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  40% , 100%{
    transform: scale(1);        
  }
}
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  40% , 100%{
    transform: scale(1);        
  }
}

.cloud2 {
  top: 150px;
  left: 200px;
  -webkit-animation: pulsate-bck 1.5s ease-in-out 0.2s infinite;
          animation: pulsate-bck 1.5s ease-in-out 0.2s infinite;
}

.footer {
  position: fixed;
  right: 1vh;
  bottom: 1vh;
  color: azure;
  font-family: "Pacifico", cursive;
  font-size: calc(0.75em + 1vmax);
}

@media (max-width: 1000px) {
    h1 {
      font-size: calc(0.25em + 10vmin);
    }
  }
@media (max-width: 600px) {
    .moon {
        width: 110px;
        height: 110px;
      }
      .moon::before {
        top: -10px;
        right: -10px;
      }
      .moon::after {
        left: -350px;
        height: 100%;
        width: 400px;
      }

      .cloud {
        width: 200px;
        height: 60px;
        top: -70px;
        left: -190px;
      }
      
      .cloud span {
        width: 70px;
        height: 70px;
        top: -15px;
        left: 5px;
      }
      .cloud span:nth-child(1) {
        top: -28px;
        left: 20px;
      }
      .cloud span:nth-child(2) {
        top: -20px;
        left: 100px;
      }
      .cloud span:nth-child(3) {
        top: -50px;
        left: 55px;
      }
      .cloud::after {
        width: 500px;
        height: 150px;
        top: -70px;
        left: -370px;
      }

      .cloud2 {
        top: 150px;
        left: 70px;
      }
      
}
